body {
    background-color: #E0E0E0; /* Gray background color */
  }
  .center-box {
    margin-top: 50px;
    background-color: #ffffff; /* White color inside the box */
    padding: 50px;
    border-radius: 10px;
  }
  .inner-box {
    background: linear-gradient(89deg, rgba(255,255,254,1) 0%, rgba(64,74,66,1) 0%, rgba(166,148,100,1) 81%);
    padding: 4px;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
    color: #ffffff; /* White text color */
  }
  